@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    height: 100%;
}

html, div, p, body {
    margin: 0;
}

.chatbot-chat-outer-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.chatbot-chat-header-container {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1.5;
    flex: 0 0 32px;
    padding: 24px;
    background-color: #f2f2f2;
    border-bottom: 2px solid #cccccc;
}

.chatbot-chat-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1 0 64px;
    background-color: white;
}

.chatbot-chat-message-container {
    display: flex;
    flex-direction: row;
    margin: 8px 0px;
    padding: 16px;
    flex-shrink: 0;
}

.user-message-container {
    display: flex;
    justify-content: right;
    align-self: flex-end;
}

.chatbot-message-container {
    display: flex;
    justify-content: left;
}

.user-message {
    background-color: #00ace6;
    color: white;
    border-radius: 16px 16px 0px 16px;
}

.chatbot-message {
    background-color: #e6e6e6;
    color: black;
    border-radius: 16px 16px 16px 0px;
}

.chatbot-chat-input-container {
    display: flex;
    border-top: 2px solid #cccccc;
    padding: 16px;
    background-color: #e6e6e6;
}

.chatbot-chat-input {
    display: flex;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 16px 16px 0px 16px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
}

.chat-message {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 16px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    font-size: 18px;
    line-height: 20px;
}

.chatbot-chat-input-send-container {
    display: flex;
    color: grey;
    justify-content: center;
    align-content: center;
    margin: auto;
    font-size: 18px;
    line-height: 20px;
    padding: 16px;
}